.container
    .chart
        .page__title
            h1 Low glycemic and insulin index
        .page__desc
            span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        .chart__main
            <canvas id="myChart" width="650" height="350"></canvas> 