.facts
    .container
        .page__title
            h1 Nutritional Facts
        .facts__main
            .facts__main-item.facts__main-item--left
                .facts__main-item_block
                    .facts__main-item_block-img
                        img(src='assets/img/facts1.png')
                    .facts__main-item_block-text
                        .text-title
                            span Energy
                        .text-desc
                            span 400 kcal in one bottle
                            span 20% of your daily needs
                .facts__main-item_block
                    .facts__main-item_block-img
                        img(src='assets/img/facts2.png')
                    .facts__main-item_block-text
                        .text-title
                            span Nutrients
                        .text-desc
                            span 25 micronutrients
                            span 20% of your daily requirements
                            span in each bottle
                .facts__main-item_block
                    .facts__main-item_block-img
                        img(src='assets/img/facts3.png')
                    .facts__main-item_block-text
                        .text-title
                            span Neutral pleasant taste
                        .text-desc
                            span Enjoy Simpleat's neutral taste
                            span several times a day and never get tired
            .facts__main-item.facts__main-item--center
                img(src='assets/img/facts-bottle2.png')
            .facts__main-item.facts__main-item--right
                .facts__main-item_block
                    .facts__main-item_block-img
                        img(src='assets/img/facts4.png')
                    .facts__main-item_block-text
                        .text-title
                            span Vegan, lactose-free, nut-free
                        .text-desc
                            span Easy to make food descisions.
                .facts__main-item_block
                    .facts__main-item_block-img
                        img(src='assets/img/facts5.png')
                    .facts__main-item_block-text
                        .text-title
                            span Scientifically approved
                        .text-desc
                            span Simpleat is designed in a lab,
                            span based on clinical studies and 
                            span produced using the latest high-tech.
                .facts__main-item_block
                    .facts__main-item_block-img
                        img(src='assets/img/facts6.png')
                    .facts__main-item_block-text
                        .text-title
                            span Anywhere you go
                        .text-desc
                            span 1-year shelf life and no refrigeration required.
                            span Excellent nutrition is always with you.
        .facts__pdf
            a(href='assets/test.pdf' download='') Download PDF 
        .facts__btn
            button.btn Orader now
