.ingredients
    .container
        .page__title
            h1 Main ingredients 
        .page__desc
            span What is inside Simpleat?
        .ingredients__main
            .ingredients__main-item
                .ingredients__main-item_img
                    img(src='assets/img/ingridients1.png')
                .ingredients__main-item_title
                    span Soybean protein
                .ingredients__main-item_desc
                    span Soy is a complete protein and rich in vitamins and minerals. Soybean protein provides all the essential amino acids in the amounts needed for human health.
            .ingredients__main-item
                .ingredients__main-item_img
                    img(src='assets/img/ingridients2.png')
                .ingredients__main-item_title
                    span Oils
                .ingredients__main-item_desc
                    span The perfect mix of lipids from sea algae, coconut, sunflower, flaxseed and canola. Rich with omega-3, unsaturated fatty acids DHA and EPA, which contribute to the normal function of the heart and brain function.
            .ingredients__main-item
                .ingredients__main-item_img
                    img(src='assets/img/ingridients3.png')
                .ingredients__main-item_title
                    span Oat flour
                .ingredients__main-item_desc
                    span Oat flour is made from whole oats and contains beta-glucans. This fiber have shown to lower risk factors for heart disease such as high cholesterol and high blood pressure.
            .ingredients__main-item
                .ingredients__main-item_img
                    img(src='assets/img/ingridients4.png')
                .ingredients__main-item_title
                    span Isomaltulose
                .ingredients__main-item_desc
                    span Isomaltulose is a natural occurring disaccharide. It keeps you energetic without the spikes of refined sugar.
            .ingredients__main-item
                .ingredients__main-item_img
                    img(src='assets/img/ingridients5.png')
                .ingredients__main-item_title
                    span Minerals & Vitamins
                .ingredients__main-item_desc
                    span A bottle of Simpleat contains 20% of daily requirements of all micronutrients for your body.
