#bg_popup
  #popup.popup
    .popup__item.popup__icon
        span ! 
    .popup__item.popup__text
        span This website uses cookies. The information in the cookies is used to provide the best experience for you on our website
    .popup__item.popup__btn
        a#setCookie.close.btn(href='#' title='Закрыть' onclick="document.getElementById('bg_popup').style.display='none'; return false;") I agree

