.order
    .container
        .page__title
            h1 Why Simpleat? 
        .page__desc
            span Enjoy all the benefits of Simpleat
        .order__main
            .order__main-item
                .order__main-item_img
                    img(src='assets/img/Forma1.png')
                .order__main-item_title
                    span Complete nutrition
                .order__main-item_desc
                    span One bottle of Simleat provides 20% of your daiyly needs for calories and micronutrients
            .order__main-item
                .order__main-item_img
                    img(src='assets/img/Forma2.png')
                .order__main-item_title
                    span Save time
                .order__main-item_desc
                    span Spend your time on business, sport, work, family or fun. Simpleat will take care of your nutrition.
            .order__main-item
                .order__main-item_img
                    img(src='assets/img/Forma3.png')
                .order__main-item_title
                    span Save money
                .order__main-item_desc
                    span Reasonable price for a complete, balanced and healthy meal.
            .order__main-item
                .order__main-item_img
                    img(src='assets/img/Forma4.png')
                .order__main-item_title
                    span Great health
                .order__main-item_desc
                    span Simpleat helps your body to stay healthy and vibrant.
            .order__main-item
                .order__main-item_img
                    img(src='assets/img/Forma5.png')
                .order__main-item_title
                    span High energy
                .order__main-item_desc
                    span No sugar spikes, only sustainable level of energy.
            .order__main-item
                .order__main-item_img
                    img(src='assets/img/Forma6.png')
                .order__main-item_title
                    span No hunger
                .order__main-item_desc
                    span A bottle of Simpleat immediately saves you from hunger and satisfy your body needs. 
        .order__btn
            button.btn Order Simpleat
