.products
    .container
        .page__title
            h1 Simpleat — Super food 
        .page__desc
            span Nutritional vitamins.  
            span Click on the Title 
        .products__tabs

            ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                    a(href='#macronutreins' aria-controls='macronutreins' role='tab' data-toggle='tab') Macronutreins
                li(role='presentation')
                    a(href='#vitamins' aria-controls='vitamins' role='tab' data-toggle='tab') Vitamins
                li(role='presentation')
                    a(href='#minerals' aria-controls='minerals' role='tab' data-toggle='tab') Minerals

            .tab-content
                #macronutreins.tab-pane.active(role='tabpanel')
                    .tab__info
                        .tab__info-image
                            img(src='assets/img/tab-image.png')
                            span.tab__info-image_text What's inside ?
                        .tab__info-info
                            ul.tab__info-info_list
                                li.tab__info-info_list-item
                                    span.item-left
                                    span.item-right.title Amount
                                li.tab__info-info_list-item
                                    span.item-left Calories
                                    span.item-right 400 kcal
                                li.tab__info-info_list-item
                                    span.item-left Fat
                                    span.item-right 27.7 g
                                li.tab__info-info_list-item
                                    span.item-left Saturated
                                    span.item-right 10.5 g
                                li.tab__info-info_list-item
                                    span.item-left Monosaturated
                                    span.item-right 5.3 g
                                li.tab__info-info_list-item
                                    span.item-left Polyunsaturated
                                    span.item-right 10.4 g
                                li.tab__info-info_list-item
                                    span.item-left Omega 3 fatty acids
                                    span.item-right 1.3 g
                                li.tab__info-info_list-item
                                    span.item-left Omega 6 fatty acids
                                    span.item-right 7.6 g
                                li.tab__info-info_list-item
                                    span.item-left Carbohydrates
                                    span.item-right 80.8 g
                                li.tab__info-info_list-item
                                    span.item-left Sugars
                                    span.item-right 20.7 g
                                li.tab__info-info_list-item
                                    span.item-left Fiber
                                    span.item-right 7.0 g
                                li.tab__info-info_list-item
                                    span.item-left Protein
                                    span.item-right 40.1 g
                                li.tab__info-info_list-item
                                    span.item-left Salt
                                    span.item-right 20.1 g
                #vitamins.tab-pane(role='tabpanel')
                    .tab__info
                        .tab__info-image
                            img(src='assets/img/tab-image.png')
                            span.tab__info-image_text What's inside ? 2
                        .tab__info-info
                            ul.tab__info-info_list
                                li.tab__info-info_list-item
                                    span.item-left
                                    span.item-right.title Amount
                                li.tab__info-info_list-item
                                    span.item-left Calories 2
                                    span.item-right 400 kcal
                                li.tab__info-info_list-item
                                    span.item-left Fat
                                    span.item-right 27.7 g
                                li.tab__info-info_list-item
                                    span.item-left Saturated
                                    span.item-right 10.5 g
                                li.tab__info-info_list-item
                                    span.item-left Monosaturated
                                    span.item-right 5.3 g
                                li.tab__info-info_list-item
                                    span.item-left Polyunsaturated
                                    span.item-right 10.4 g
                                li.tab__info-info_list-item
                                    span.item-left Omega 3 fatty acids
                                    span.item-right 1.3 g
                                li.tab__info-info_list-item
                                    span.item-left Omega 6 fatty acids
                                    span.item-right 7.6 g
                                li.tab__info-info_list-item
                                    span.item-left Carbohydrates
                                    span.item-right 80.8 g
                                li.tab__info-info_list-item
                                    span.item-left Sugars
                                    span.item-right 20.7 g
                                li.tab__info-info_list-item
                                    span.item-left Fiber
                                    span.item-right 7.0 g
                                li.tab__info-info_list-item
                                    span.item-left Protein
                                    span.item-right 40.1 g
                                li.tab__info-info_list-item
                                    span.item-left Salt
                                    span.item-right 20.1 g
                #minerals.tab-pane(role='tabpanel')
                    .tab__info
                        .tab__info-image
                            img(src='assets/img/tab-image.png')
                            span.tab__info-image_text What's inside ? 3
                        .tab__info-info
                            ul.tab__info-info_list
                                li.tab__info-info_list-item
                                    span.item-left
                                    span.item-right.title Amount 
                                li.tab__info-info_list-item
                                    span.item-left Calories 3
                                    span.item-right 400 kcal
                                li.tab__info-info_list-item
                                    span.item-left Fat
                                    span.item-right 27.7 g
                                li.tab__info-info_list-item
                                    span.item-left Saturated
                                    span.item-right 10.5 g
                                li.tab__info-info_list-item
                                    span.item-left Monosaturated
                                    span.item-right 5.3 g
                                li.tab__info-info_list-item
                                    span.item-left Polyunsaturated
                                    span.item-right 10.4 g
                                li.tab__info-info_list-item
                                    span.item-left Omega 3 fatty acids
                                    span.item-right 1.3 g
                                li.tab__info-info_list-item
                                    span.item-left Omega 6 fatty acids
                                    span.item-right 7.6 g
                                li.tab__info-info_list-item
                                    span.item-left Carbohydrates
                                    span.item-right 80.8 g
                                li.tab__info-info_list-item
                                    span.item-left Sugars
                                    span.item-right 20.7 g
                                li.tab__info-info_list-item
                                    span.item-left Fiber
                                    span.item-right 7.0 g
                                li.tab__info-info_list-item
                                    span.item-left Protein
                                    span.item-right 40.1 g
                                li.tab__info-info_list-item
                                    span.item-left Salt
                                    span.item-right 20.1 g
        .products__btn
            button.btn Order now