.container
    .subscribe
        .page__title
            h1 JOIN US
        .page__desc
            span Join us Stay updated, enjoy special offers and bonuses
        form.subscribe__form(method='post' action='')
            input(type='email' value='' placeholder='Your e-mail').subscribe__form-mail
            input(type='submit' value='Sign Up!').btn
