.testimonial
    .container
        .page__title
            h1 Testimonial
        .page__desc
            span Simpleat is made to provide the perfectly balanced diet with every nutrient your body needs for optimal health.
        .testimonial__main
            .testimonial-links
                .testimonial-openpop(href='https://www.youtube.com/embed/krDWc30PAGg?controls=0&amp;start=6')
                    .testimonial__main-item
                        .testimonial__main-item_img
                            img(src='assets/img/testimonial1.png')
                            .testimonial__main-item_img-icon
                                img(src='assets/img/play.png')
                        .testimonial__main-item_title
                            span Anna, 25  •  Manager 
                        .testimonial__main-item_desc
                            span Lorem ipsum dolor sit elit,sed do eiusmod elit,sed do eiusmod ipsum 
                .testimonial-openpop(href='https://www.youtube.com/embed/mkggXE5e2yk?controls=0&amp;start=6')
                    .testimonial__main-item
                        .testimonial__main-item_img
                            img(src='assets/img/testimonial2.png')
                            .testimonial__main-item_img-icon
                                img(src='assets/img/play.png')
                        .testimonial__main-item_title
                            span Stiv, 25  •  Manager 
                        .testimonial__main-item_desc
                            span Lorem ipsum dolor sit elit,sed do eiusmod elit,sed do eiusmod ipsum 
                .testimonial-openpop.none(href='https://youtu.be/mkggXE5e2yk')
                    .testimonial__main-item
                        .testimonial__main-item_img
                            img(src='assets/img/testimonial3.png')
                        .testimonial__main-item_title
                            span Julia, 45  •  Manager 
                        .testimonial__main-item_desc
                            span Lorem ipsum dolor sit elit,sed do eiusmod elit,sed do eiusmod ipsum 
                .testimonial-openpop(href='https://www.youtube.com/embed/2J7xlDH4QkA?controls=0&amp;start=6')
                    .testimonial__main-item
                        .testimonial__main-item_img
                            img(src='assets/img/testimonial4.png')
                            .testimonial__main-item_img-icon
                                img(src='assets/img/play.png')
                        .testimonial__main-item_title
                            span John, 35  •  Manager 
                        .testimonial__main-item_desc
                            span Lorem ipsum dolor sit elit,sed do eiusmod elit,sed do eiusmod ipsum 
            .testimonial-popup-iframe
                .testimonial-popup-iframe-item
                    iframe.testimonial-iframe-link(src='')
                        | <p>Your browser does not support iframes.</p>
                    button.btn.testimonial-btn-close X
