footer.footer
    .footer__main
        .container
            .footer__main-social
                a(href='https://www.facebook.com/extremal.r1/' target='_blank').footer__main-social_link
                    img(src='assets/img/fb.png')
                a(href='https://www.twitter.com' target='_blank').footer__main-social_link
                    img(src='assets/img/twiter.png')
                a(href='https://www.instagram.com/_extremal_r1/' target='_blank').footer__main-social_link
                    img(src='assets/img/insta.png')
            .footer__main-pages
                a(href='#').footer__main-pages_link blog
                a(href='#').footer__main-pages_link faq
                a(href='#').footer__main-pages_link legal
            .footer__main-powered
                a(href='#').footer__main-powered_link © 2018, Simpleat
    .footer__bootom
        .container
            .footer__bootom-block
                .footer__bootom-block_contacts
                    .footer__bootom-block_contacts-item
                        a(href='tel:+123456789000').item-link
                            .item-img
                                img(src='assets/img/phone.png')
                            .item-text
                                span +123 456-789-000
                                span Evry day from 8 AM - 8 PM
                    .footer__bootom-block_contacts-item
                        a(href='mailto:info@semleat.me').item-link
                            .item-img
                                img(src='assets/img/mail.png')
                            .item-text
                                span info@semleat.me
                                span We will respond ASAP
                .footer__bootom-block_lang
                    select.vodiapicker
                        option.test(value='en' data-thumbnail='assets/img/flag.png') English
                        option(value='au' data-thumbnail='assets/img/flag.png') Russian
                        option(value='uk' data-thumbnail='assets/img/flag.png') Romanian
                    .lang-select
                        button.btn-select(value='')
                        .lang-select-item
                            ul#list


