header.header
    .container
        nav(role='navigation').mobile__menu
            .header__main-block.header__main-block--left
                #menuToggle
                    input(type='checkbox')
                    span
                    span
                    span
                    ul#menu
                        a(href='#')
                            li Cart
                        a(href='#')
                            li Contact
                        a(href='#')
                            li Info
                        a(href='#')
                            li Sign In
            .header__main-block.header__main-block--center
                a(href='#')
                    img(src='assets/img/Logo.png')
            .header__main-block.header__main-block--right
                .header__main-block_item
                    a(href='#top').btn
                        span Order now
        .header__main
            .header__main-block.header__main-block--left
                .header__main-block_item
                    a(href='#')
                        img(src='assets/img/cart.png').header__main-block_item-img
                        span Cart
                .header__main-block_item
                    a(href='#')
                        span Contact
            .header__main-block.header__main-block--center
                a(href='#')
                    img(src='assets/img/Logo.png')
            .header__main-block.header__main-block--right
                .header__main-block_item
                    a(href='#')
                        img(src='assets/img/person.png').header__main-block_item-img
                        span Sign In
                .header__main-block_item
                    a(href='#top').btn
                        span Order now