script(src='//code.jquery.com/jquery-2.2.4.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//unpkg.com/scrollreveal/dist/scrollreveal.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
script(src='./assets/js/script.js')
