#bg_popup
    position fixed
    z-index 99999
    background rgba(0, 0, 0, 0.8)
    top 0
    right 0
    bottom 0
    left 0
    display none


.popup
    background $black
    width: 100%;
    padding: 25px 31px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    display flex
    align-items: center
    justify-content: space-between;
    +below($max-xs)
        flex-wrap: wrap
        width 95%
    &__item
        +below($max-xs)
            width 100%
            display: flex
            justify-content: center
            align-items: center
            margin: 10px 0
    &__icon
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #50555b;
        border: 2px solid #50555b;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bold;
        +below($max-xs)
            margin: 10px auto
    &__text
        max-width: 422px;
        width: 100%;
        font-size: 14px
        color: $white
        +below($max-xs)
            max-width: 100%
            text-align: center
    &__btn
        .btn
            width: 119px;
            height: 41px;
            font-size: 18px;
            font-weight: bold
            width: 119px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: none;
            opacity 1

