doctype html
html
    include layout/head
    body(name='top')
        include components/modal
        include layout/header
        include components/more
        include components/video
        include components/order
        include components/testimonial
        include components/ingredients
        include components/facts
        include components/chart
        include components/productTabs
        include components/subscribe
        include layout/footer
        include layout/scripts